{% extends "layout.html" %}
{% block title %}
    Add Booking
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-xs-6" style="border-right-style: solid; border-width: 1px; padding-right: 20px">
        <h2 style="text-align: center">Eshot</h2>
        <hr>
        <input id="subject" class="form-control" type="text" placeholder="Subject Line"/>
        <br>
        <div id="courses" class="courses">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="col-xs-1" style="border-left-style: solid; border-width: 1px; border-color: black">
                            <span style="color:black" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-1" style="border-right-style: solid; border-width: 1px; border-color: black">
                            <span style="color:black" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-1">
                            <span style="color:red" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="input-group">
            <input id="search_box" class="form-control" type="text" placeholder="Course to add..."/>
            <span class="input-group-btn">
                <button onclick="search_course()" class="btn btn-default" type="button">Search</button>
            </span>
        </div>
        <br>
        <div id="searched_courses" class="searched_courses"></div>
    </div>
</div>
<script>
    function search_course() {
        var queryurl = "{{url_for('search')}}";
        var term = document.getElementById('search_box').value;
        if(term.length < 3) {
            return;
        }
        var params = "term=" + term;
        xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange=function() {
            if(xmlhttp.readyState==4 && xmlhttp.status==200) {
                document.getElementById('searched_courses').innerHTML = "";
                var searched_courses_html = "";
                var postresults = JSON.parse(xmlhttp.responseText);
                
                if(postresults.length == 0) {
                    searched_courses_html = "<p>No matching courses found</p>";
                    document.getElementById('searched_courses').innerHTML = searched_courses_html;
                    
                    return;
                }
                
                searched_courses_html += "<ul class='list-group'>";
                
                for(var key in postresults) {
                    if (!postresults.hasOwnProperty(key)) continue;
                    var obj = postresults[key];
                    
                    searched_courses_html += "<li onclick='get_dates(";
                    searched_courses_html += obj['id'] + ",\"" + obj['name'] + "\"";
                    searched_courses_html += ")' class='list-group-item'>";
                    searched_courses_html += obj['name'];
                    searched_courses_html += "</li>";
                }
                
                searched_courses_html += "</ul>";
                document.getElementById('searched_courses').innerHTML = searched_courses_html;
              }
        }
        xmlhttp.open("POST", queryurl);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send(params);
    }
    
    function get_dates(course_id, course_name) {
        var queryurl = "{{url_for('search')}}";
        
        var params = "course_id=" + course_id;
        xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange=function() {
            if(xmlhttp.readyState==4 && xmlhttp.status==200) {
                document.getElementById('searched_courses').innerHTML = "";
                var course_dates_html = "";
                var postresults = JSON.parse(xmlhttp.responseText);
                
                if(postresults.length == 0) {
                    course_dates_html = "<p>No dates for that course found</p>";
                    document.getElementById('searched_courses').innerHTML = searched_courses_html;
                    
                    return;
                }                
                
                course_dates_html += "<div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>";
                course_dates_html += course_name;
                course_dates_html += "</h3></div>";
                course_dates_html += "<div class='panel-body'>";
                
                var counter = 0;
                for(var key in postresults) {
                    if (!postresults.hasOwnProperty(key)) continue;
                    var obj = postresults[key];
                    
                    if(counter % 2 == 0) {
                        course_dates_html += "<div class='row'>";
                    }
                    course_dates_html += "<div class='col-lg-6'><div class='input-group'><span class='input-group-addon'><input type='checkbox' aria-label='...";
                    course_dates_html += obj['date'];
                    course_dates_html += "'></span><li class='list-group-item'>";
                    course_dates_html += obj['date'];
                    course_dates_html += "</li></div></div>";
                    
                    if(counter % 2 == 1 ) {
                        course_dates_html += "</div>";
                    }
                    
                    counter++;
                }
                
                if(counter % 2 == 1 ) {
                    course_dates_html += "</div>";
                }
                
                course_dates_html += "</div></div>";
                course_dates_html += "<div class'container' style='text-align: center'><button type='button' class='btn btn-primary'>Add dates to Eshot</button></div>";
                document.getElementById('searched_courses').innerHTML = course_dates_html;
              }
        }
        xmlhttp.open("POST", queryurl);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send(params);
    }
</script>
{% endblock %}