{% extends "layout.html" %}
{% block title %}
    Add Booking
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-xs-6" style="border-right-style: solid; border-width: 1px; padding-right: 20px">
        <h2 style="text-align: center">Eshot</h2>
        <hr>
        <input id="subject" class="form-control" type="text" placeholder="Subject Line"/>
        <br>
        <div class="courses">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-11">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="col-xs-1">
                            <span style="color:red" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="input-group">
            <input id="search_box" class="form-control" type="text" placeholder="Course to add..."/>
            <span class="input-group-btn">
                <button onclick="search_course()" class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </div>
</div>
<script>
    function search_course() {
        var queryurl = "{{url_for('search')}}";
        var term = document.getElementById('search_box').value;
        if (term.length < 3) {
            return;
        }
        var params = "term=" + term;
        xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                
                var postresults = JSON.parse(xmlhttp.responseText);
                if (postresults.length == 0) {
                    
                    return;
                }
                console.log(postresults);
                
                for (var key in postresults) {
                    if (!postresults.hasOwnProperty(key)) continue;
                    var obj = postresults[key];
                    
                    
                }
                
              }
        }
        xmlhttp.open("POST", queryurl);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send(params);
    }
</script>
{% endblock %}